<ul
  class="stream-list">
  <li
    class="stream-item">
    <div
      class="stream-thumbnail">
      <img src="/assets/img/mock/1.png" alt="">
    </div>
    <div
      class="stream-details">
      <h4>Stream List</h4>
    </div>
  </li>

  <li
    class="stream-item">
    <div
      class="stream-thumbnail">
      <img src="/assets/img/mock/2.png" alt="">
    </div>
    <div
      class="stream-details">
      <h4>Stream List</h4>
    </div>
  </li>

  <li
    class="stream-item">
    <div
      class="stream-thumbnail">
      <img src="/assets/img/mock/3.png" alt="">
    </div>
    <div
      class="stream-details">
      <h4>Stream List</h4>
    </div>
  </li>
</ul>

<a
  #morevideos
  href="#"
  class="button">Ver todos los videos</a>