@import '../../../variables';

ul.stream-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: $play-list-between;

  li.stream-item {
    display: flex;
    flex-direction: row;

    background-color: $play-list-bg-color;
    margin-bottom: $play-list-between;

    > div {
      /* For mobile phones: */
      height: $play-list-item-h;
      
      /* For tablets: */
      @media only screen and (min-width: 400px) {
        height: $play-list-item-m-h;
      }

      /* For desktop: */
      @media only screen and (min-width: 600px) {
        height: $play-list-item-l-h;
      }
    }

    .stream-thumbnail {
      img {
        height: 100%;
      }
    }

    .stream-details {
      padding: $play-list-title-padding;

      h4 {
        font-weight: normal;
        margin: 0;
      }
    }

    &.active {
      h4 {
        font-weight: 500 !important;
      }
    }
  }
}

a.button {
  display: block;
  background-color: $play-list-bg-color;
  box-shadow: $play-list-link-more-videos-shadow;
  color: $play-list-link-more-videos-color;
  height: $play-list-link-more-videos-height;
  line-height: $play-list-link-more-videos-height;
  font-size: $play-list-link-more-videos-font;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}