@import '../../../variables';

.advertising {
  max-height: $advertising-max-h;
  overflow: hidden;
}

.advertising-tag {
  display: block;
  height: $advertising-tag-h;
  line-height: $advertising-tag-h + 1px;;
  text-align: center;
  text-transform: uppercase;
  font-size: $advertising-font-s;
  color: $advertising-text-c;
}